<h1><%="Youtube" %></h1>

<p class="all"></p>

<button class='title'>list movies </button>

<div id="list-videos"></div>

<div id="video_page"></div>

<button class='add'> add a film </button>

<div id='add_video'></div>